html {
    scroll-behavior: smooth;
}

.header {
    text-align: center;
}

.header-list{
    text-align: center;
    list-style-position: inside;
}

.content{
    margin: 300px;
    text-align: center;
}

.hardships h4{
    font-weight: 100;
    /* text-decoration: underline; */
}

.to-top{
    list-style: none;
    color: blue;
}

.to-top:hover{
    color: rgb(98, 190, 98);
}

.hardship-1 pre{
    background-color: #F2EFE4;
    color: rgb(133, 49, 49);
}

.ol {
    font-weight: 500;
}

.hardships {
    background-color: #F2EFE4;
}

/* hardship-2 styling */
.hardship-2 pre {
    color: rgb(96, 124, 53);
}