html {
    scroll-behavior: smooth;
}

.aqi-table tbody tr td {
    padding-right: 25px;
}
.first-page {
    background: linear-gradient(
                rgba(0,0,0,0.4),
                rgba(0,0,0,0.4)
                ),
                url(../images/bg2.jpg) 
                no-repeat center;
    background-size:cover;
    height: 1200px;
}

.header {
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}
.header h1 {
    font-size: 320%;
}


.header p {
    font-size:130%;
    /* font-family: 'Courier New', Courier, monospace; */
}

.description{
    color: aliceblue;
}