<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/hardships/hardship_home.css">
</head>
<body>
    <div class="header">
        <p>During project I've faced many problems, since it took a while to get a grasp of the problem and lot of research I've decided to write about it therefore I don't
            struggle as much on same problems. In the link it will cover:
            <ol class="header-list">
                <li>What am I trying to achieve?</li>
                <li>Uh oh, problem</li>
                <li>My thoughts on what is happening</li>
                <li>How I solved it</li>
            </ol>
        </p>
    </div>
    <div class="content">
        <a href="#js"><p>Changing asynchronous function to follow synchronous flow in JavaScript</p></a>
        <a href="#hardship2"><p>Automating MySQL database update every 24 hours</p></a>
        <a href="#hardship3"><p>Hardship3</p></a>
        <a href="#hardship4"><p>Hardship4</p></a>
    </div>

    <!-- Synchronous Starts HERE -->
    <div class="jumbotron hardships hardship-1" id="js">
        <h4>Changing asynchronous function to follow synchronous flow in JavaScript</h4>
        <p class="ol">1. What I want to acheive</p>
        <p>When user inputs a country name, plan was to clean the input to match certain format so it can be used to get value from json. There were two cases: one word country(ex: Canada, Italy, etc.)
            and countries that had "and", "or" in between them (ex: Republic of Korea). I needed to title case country names therefore 
            whether user inputs "CANADA", "canada" it will become "Canada" and search correctly in json file. 
        </p>
        <p class="ol">2. Uh oh, problem</p>
        <p>In JavaScript functions are either synchronous or asynchronous. It is considered to be synchronous if it 
            follows flow of code, function written on top of the code gets executed first 
            and the opposite for asynchronous.</p>
        <pre>
            var country_search = d3.select("#submit")
            country_search.on("click", function(){
                d3.event.preventDefault();
                var user_input_country = d3.select("#user_country").node().value;
                splitted = user_input_country.split(" ");
                if (splitted.length === 1){
                    cleaned_input = user_input_country.charAt(0).toUpperCase() + user_input_country.slice(1).toLowerCase()
                }
                else{
                    for (var i=0; i (less than) splitted.length; i++) { 
                        if (splitted[i] != "of" && splitted[i] !="and"){
                            splitted[i] = splitted[i].charAt(0).toUpperCase() + splitted[i].slice(1).toLowerCase()
                        }
                    }
                    cleaned_input = splitted.join(" ")
                }

            })

            function call_api(cleaned_input){
                console.log(clenaed_input)
            }
        </pre>
        <p class="ol">3. What is happening?</p>
        <p>The problem was that since the code was aynchronous when script runs it will run them all at the same time therefore function call_api
            would not wait until cleaning process finishes leading to undefined "cleaned_input" error. Therefore needed to find a way to clean the input then send it through another function.
            In order to achieve this there was need to change the functions to become synchronous.
        </p>

        <p class="ol">4. How I fixed it.</p>
        <p>In JavaScript functions can be passed in as a argument therefore we can create a function then pass it as an argument of another function. There are two possible solutions which are using:
            <br>&nbsp &nbsp &nbsp i. Callback function <br>&nbsp &nbsp &nbsp ii. Timeout<br>
            Timeout is simply telling a function to take a timeout until another function is being processed.<br>
            This time I've used callback function to remedy the problem.
        </p>
        <pre>
            var country_search = d3.select("#submit")
            country_search.on("click", function(){
                d3.event.preventDefault();
                var user_input_country = d3.select("#user_country").node().value;
                d3.select("#user_country").node().value = "";

                clean_format(user_input_country, function(cleaned_input){
                    console.log(`successfuly changed -> ${cleaned_input}`)
                })
            });

            function clean_format(user_input_country, callback){
                const splitted = user_input_country.split(" ");
                if (splitted.length === 1){
                    cleaned_input = user_input_country.charAt(0).toUpperCase() + user_input_country.slice(1).toLowerCase()
                }
                else{
                    for (var i=0; i (less than) splitted.length; i++) {
                        if (splitted[i] != "of" && splitted[i] !="and"){
                            splitted[i] = splitted[i].charAt(0).toUpperCase() + splitted[i].slice(1).toLowerCase()
                        }
                    }
                    cleaned_input = splitted.join(" ")
                }
                callback(cleaned_input);
            }
        </pre>
        <p>In the function that is being excetued upon "click" you can see that clean_format function 
            is being called at the end. Note that in clean_format there are two parameters, country name that
            user inputs(user_input_country) and a function. Here is where the magic happens, the function being 
            passed in as a parameter does not get executed it is called inside clean_format function.
            Therefore when clean_format is executed it cleans user_input_country and at the end, calls callback function
            with cleaned_input as a parameter. Finally it will execute the callback function acheiving 
            synchronous flow.
        </p>
        <a href="#" class="to-top">back to top</a>
    </div>
    <!-- Synchronous Ends HERE -->


    <!-- Hardship #2 -->
    <div class="jumbotron hardships hardship-2">
        <h4>Automating MySQL database update every 24 hours</h4>
        <p class="ol">1. What I want to acheive</p>
        <p>
            Update database every 24 hours with data returned from an api for every city. I needed to loop through 
            each cities, perform api call, update other columns that has same ID. Importantly all this had to be 
            done in the background therefore it will not interfere with any functions in my app.
        </p>
        <p class="ol">2. Uh oh, problem</p>
        <p>
            First, it was hard to figure out where to begin. <br>
         I've tried using MySQL eventscheduler and cursor to 
            loop through data. Everything was going well until I realized that I needed to call a function that 
            calls api, cleans the data and return it. I couldn't find a way to call python function within MySQL.
            Next, I've tried schedule module in python and it seemed like it worked.
        </p>
        <pre>
        import schedule
        import time

        def update_aqi():
        """
        Every 24 hours, update aqi, time column for each city with api_received response
        """ 
        query = db.select([Aqi.id, Aqi.City])
        result = db.engine.execute(query).fetchall()
        for each_city in result:
            current_city = each_city[1]
            current_id = each_city[0]
            aqi_response = get_aqi(current_city)
            returned_aqi_data = aqi_response['data']['aqi']
            returned_time = aqi_response['data']['time']['s']
    
            update_this = Aqi.query.filter_by(id=current_id).first()
            update_this.Aqi = returned_aqi_data
            update_this.time = returned_time
            db.session.commit()
    
        return f"updated at {time.strftime('%Y/%m/%d, %H:%M%S')}"
        </pre>
        <p> Above is function that updates database</p>
        <pre>
        def update_db():
        schdule.every(24).hour.do(update_aqi)

        while True:
            schedule.run_pending()
            time.sleep(1)
        </pre>
        <p>Then this function adds update_aqi to its job list and 
            runs everything in job list every 24 hours. Since I wanted 
            it to run indefinitely while True statement was added.
        </p>
        <p>and finally added update_db function inside </p>
        <pre>
        @app.route("/nlp/<country>")
            def text_summarization(country):
                """
                For inputted country, grab its paragraphs from wikipedia and summarize it.
                """
                summarized_text = text_summarizer(country)
                update_db()
                return jsonify(summarized_text)
        </pre>

        <p class="ol">3. What is happening?</p>
        As soon as user inputs a country, reading /nlp/ route it ran all its functions and 
        before it returned data to javascript it had to run update_db(). This was 
        a problem since it was delaying data return to javascipt, meaning it wasn't
        working in parallel.
        <p>

        </p>

        <p class="ol">4. How I fixed it.</p>
        <p>
            After more hours of research. Found out about Flask-APScheduler which 
            is APScheduler for flask just like flask-sqlalchemy. This allowed 
            me to run multiple jobs in parallel thus fixing my problem.
        </p>
        <pre>
        @scheduler.task('interval', id="update_aqi", hours=23)
        def update_aqi():
            """
            Every 24 hours, update aqi, time column for each city with api_received response
            """ 
            query = db.select([Aqi.id, Aqi.City])
            result = db.engine.execute(query).fetchall()
            for each_city in result:
                current_city = each_city[1]
                current_id = each_city[0]
                aqi_response = get_aqi(current_city)
                returned_aqi_data = aqi_response['data']['aqi']
                returned_time = aqi_response['data']['time']['s']
        
                update_this = Aqi.query.filter_by(id=current_id).first()
                update_this.Aqi = returned_aqi_data
                update_this.time = returned_time
                db.session.commit()
        
            return f"updated at {time.strftime('%Y/%m/%d, %H:%M%S')}"
         
        </pre>
        <p> Very simple. All I needed to do was create a route that will run 
            in parallel with my app thus not affecting any part of my app.
            Task was running job with id="update_aqi" and in 24hours interval. 
            Note hours start from 0~23 hence 23 => 24.
        </p>
        <a href="#" class="to-top">back to top</a>
    </div>

    <!-- Hardship #3 -->
    <div class="hardship3" id="hardship3">

    </div>

    <!-- Hardship #4 -->
    <div class="hardship4" id="hardship4">

    </div>
</body>
</html>