<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Air-Quality</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    
  
    <script type='text/javascript' src='http://d3js.org/d3.v3.min.js'></script>
    <script type='text/javascript' src='http://d3js.org/topojson.v1.min.js'></script>

    <!-- My on scrape for lists -->
    <script>
        var canadian_cities = {{canada_cities|tojson}};
    </script>
</head>

<body>
    <div class="text-center main">
        <canvas id='globe' width='700' height='700'></canvas>
    </div>
    
    <div class="description text-center" style="overflow-x:auto;">
        <p>For all of the pollutant PPM is measurment unit.</p>
        <table class="aqi-table" align="center">
          Pollutants that have greatest effect on AQI.
          <thead>
            <td>PM2.5</td>
            <td>PM10</td>
            <td>O3</td>
            <td>NO2</td>
            <td>SO2</td>
            <td>CO</td>
          </thead>
          <tbody>
            <tr>
                <td>placeholder</td>
                <td>placeholder</td>
                <td>placeholder</td>
                <td>placeholder</td>
                <td>placeholder</td>
                <td>placeholder</td>
            </tr>
          </tbody>
          </table>
    </div>
    <script type='text/javascript' src='../static/js/planetaryjs.min.js'></script>
    <script src="../static/js/config.js"></script>
    <script src="../static/js/draw_globe.js"></script>
    <script src="../static/js/app.js"></script>
</body>
</html>