<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Air-Quality</title>
  <!-- my css -->
  <link rel="stylesheet" href="../static/css/base.css">
  <!-- <link rel="stylesheet" href="../static/css/main.css"> -->

  <!--  Animate on Scroll cdn-->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script type='text/javascript' src='http://d3js.org/d3.v3.min.js'></script>
  <script type='text/javascript' src='http://d3js.org/topojson.v1.min.js'></script>

  <!-- leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>

  <!-- MarkerClusterGroup cdn -->
  <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">

</head>

<body>
  <div class="searchbar">
    <form>
        <fieldset>
          <legend>YOUR COUNTRY</legend>
          <div class="inner-form">
            <div class="input-field">
              <input class="form-control" id="user_country" type="text" placeholder="Type to search..." />
              
              <button class="btn-search" type="submit" id="submit" onclick="document.getElementById('summary').scrollIntoView();">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                </svg>
              </button>
              
            </div>
          </div>
          
          <div class="pollutant-info">
            <span>AQI</span>
            <span>pm25</span>
            <span>O3</span>
            <span>NO2</span>
          </div>
        </fieldset>
      </form>
  </div>

  <!-- add summary of country into <p> using js d3 -->
  <div class="text-summarize" id="summary">
  </div>

  <!-- ------------------- MAP ---------------------- -->
  <div class = "map-div" id="map" data-aos="zoom-in" data-aos-duration="2000">
  </div>

  <div class="jumbotron" style="text-align: center;">
    <!-- calling /hardships -->
    <a href="{{ url_for('hardships') }}"><b>hardships</b></a>
  </div>


  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script> AOS.init()</script>

  <script src="../static/js/config.js"></script>
  <script src="../static/js/map.js"></script>
  <script src="../static/js/render_to_html.js"></script>
  <script src="../static/js/searchbar.js"></script>
  <!-- <script src="../static/js/aqi.js"></script> -->
  <script src="../static/js/leaflet-heat.js"></script>
</body>
</html>